<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="WinformDb" 
                connectionString="Data Source=localhost,1433;Initial Catalog=winformDb;Persist Security Info=False;User ID=sa;Password=aspMVC98;Pooling=False;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=False"/>
  </database>

  <sqlMaps>
    <sqlMap resource="./Maps/Customer.xml"/>
  </sqlMaps>

</sqlMapConfig>